    <div class="container mt-5 mb-5 ">
        <div class="text-center row" role="group" aria-label="Basic radio toggle ">
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <a class="btn button_pink " href="/manga/list?category=">VOIR TOUT</a>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <a class="btn button_pink " href="/manga/list?category=shonen">SHONENS</a>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <a class="btn button_pink " href="/manga/list?category=shojo">SHOJOS</a>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <a class="btn button_pink " href="/manga/list?category=seinen">SEINENS</a>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
               <a class="btn button_pink " href="/manga/list?category=josei">JOSEIS</a>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
               <a class="btn button_pink " href="/manga/list?category=kodomo">KODOMOS</a>
            </div>
        </div>
    </div>