{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link href="assets\css\home.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class = "homeintroduction">
        <h1> Bonjour, </h1>
        <br></br>
        <h2> Veuillez vous connecter afin de pouvoir accéder à votre bibliothèque de manga personnalisée.</h2>
    </div>
{% endblock %}
