{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link href="assets\css\home.css" rel="stylesheet">
{% endblock %}

{% block header %}
    <nav class="navbar mb-5">
        <div class="container-fluid">
            <div class="logo">
                <a class="navbar-brand"><img src="assets/images/logo.png " class="img-fluid"></a>
            </div>
            <div class="connexion-button">
                <button type="button" class="btn connexionButton"><a href="/showcase">Connexion</a></button>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class = "home-introduction text-center mt-5">
        <h1 class="mt-3">Bonjour,</h1>
        <h2 class="mt-3">Veuillez vous connecter afin de pouvoir accéder à votre bibliothèque de manga personnalisée.</h2>
    </div>
{% endblock %}
