{% extends 'layout.html.twig' %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/showcase.css">{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

    {# ---------------------------- FIRST CAROUSSEL FOR FAVORIS MANGAS ------------------------------------ #}

    <h1 class="text-center mb-5">FAVORIS</h1>

    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner ">
    {% for manga in mangas %} 
        <div class="carousel-item active ">
            <img src="{{ manga.image }}" class="d-block img-fluid" alt="...">
        </div>
    {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>

    {# ---------------------------- SECOND CAROUSSEL FOR ALL MANGAS ------------------------------------ #}

    <h1 class="text-center mb-5 mt-5">MANGAS</h1>

    <div id="carouselExampleControlsMangas" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    {% for mangasRand in mangasRands %} 
        <div class="carousel-item active ">
            <img src="{{ mangasRand.image }}" class="d-block img-fluid" alt="...">
        </div>
    {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsMangas" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsMangas" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>

    {# ---------------------------- BUTTONS SELECTION CATEGORY MANGAS ------------------------------------ #}
                                
    <div class="container mt-5 mb-5 ">
        <div class="text-center row" role="group" aria-label="Basic radio toggle ">
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn buton_pink" for="btnradio1"><a href="/manga/list">VOIR TOUT</a></label>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn buton_pink" for="btnradio2"><a href="/manga/list">SHONENS</a></label>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn buton_pink" for="btnradio3"><a></a>SHOJOS</label>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                <label class="btn buton_pink" for="btnradio4"><a></a>SEINENS</label>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                <label class="btn buton_pink" for="btnradio5"><a></a>JOSEIS</label>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                 <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                <label class="btn buton_pink" for="btnradio6"><a></a>KODOMOS</label>
            </div>
        </div>
    </div>
{% endblock %}