

.logo
{
    size: 5px;
    width: 100px;
    height: 100px;
}

.connexionbutton
{
    border-radius:15px ;
    font-size: 16px;
    background-color:#eb1163;

}

a
{
    color: white;
}
.homeintroduction
{
    font-family: 'Lucida Handwriting';
/*  margin-top: 150px;
    margin-left: 400px;
    font-size:10px;  */
}
