/* .carousel-inner img 
{
    height:300px;
    object-fit:contain;
    margin: auto;
 } */
 #carouselExampleControls img 
 {
    max-width: 700px;
    min-width: 300px;
    margin: auto;
    height:300px;
    object-fit:contain;
  }
#carouselExampleControlsMangas img
{
    max-width: 700px;
    min-width: 300px;
    margin: auto;
    height:300px;
    object-fit:contain;
}
.buton_pink
{
    background-color : #eb1163;
    color : white;
}
hr{
    margin-top: 100px;
    border: 20px solid black;
    border-radius: 5px;
}
a
{
    color:black;
}
