body
{
    background-size: cover;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.navbar-inner
{
    background:transparent;
}

.button_pink
{
    background-color : #eb1163;
    color : white;
}